[Unit]
Description=Joystick TCP Bridge
After=systemd-udev-settle.service

[Service]
ExecStart=js-tcp
Restart=always

[Install]
WantedBy=multi-user.target
