[Unit]
Description=Profinet CAN Bridge
BindsTo=sys-subsystem-net-devices-can0.device
After=sys-subsystem-net-devices-can0.device systemd-udev-settle.service

[Service]
ExecStart=pnet-can
Restart=always

[Install]
WantedBy=multi-user.target
