[Unit]
Description=Profinet CAN Bridge
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=pnet-can
Restart=always

[Install]
WantedBy=multi-user.target
