[Unit]
Description=Profinet CAN Bridge
After=systemd-udev-settle.service

[Service]
ExecStart=pnet-can
Restart=always

[Install]
WantedBy=multi-user.target
