[Unit]
Description=Profinet Joystick Bridge
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
ExecStart=pnet-js
Restart=always

[Install]
WantedBy=multi-user.target
